extends layout

block content

	div(class="jumbotron jumbotron-fluid bg-white text-xs-center")
		div.container
			h2.jumbotron-header.text-muted.hp My Projects
			div.lead.text-muted
				| I have done a lot of projects. Most of which are nothing out of the blue. They mostly are
				| Full-stack web development, python scripts and libraries that never get their way to PyPI.
				| Some are node.js desktop apps with electron, javascript codes or xml schemas.
				| but luckily for me, most of them are available on my github.<br>
				a.btn.btn-primary.btn-sm.m-t-1(href="https://github.com/DannyMcwaves" target="__blank") My Github

	div.container-fluid
		div.row.bg-inverse
			div.card-columns.p-l-2.p-t-3.p-r-2
				div.card.text-xs-center
					img(src="../images/new/terminal.png" class="card-img-top img-circle img-fluid")
					h3.card-title.text-black.p-t-1 TERMINAL
					p.card-text.hidden-xs-down
						|This is just some simple tool created with node and electron.
						|It mimics the command line tool of linux. but it is basically for
						|network purpose and for reading files. I mean, just any command you have on a
						| linux system. check source code and full instructions on<br>
					a.btn.bg-inverse.btn-sm.m-t-1(href="https://github.com/DannyMcwaves/terminal.git" target="__blank") My Github

				div.card.text-xs-center
					img(src="../images/new/eco.png" class="card-img-top img-circle img-fluid")
					h3.card-title.text-warning.p-t-1  e-COMMERCE
					p.card-text.hidden-xs-down
						|This is just a simple e-commerce site that I built for a friend who sells shoes.
						|Credit card are not really used in this part of the world, so it basically provides
						|information on materials, searches for shoe types, prices, and information on where
						|to get them. Anything about e-commerce but not ordering. It is not yet hosted but you
						|can check the source code on my <br>
					a.btn.btn-warning.btn-sm.m-t-1(href="https://github.com/DannyMcwaves/kellers.git" target="__blank") My Github

				div.card.text-xs-center
					img(src="../images/new/fs.png" class="card-img-top img-circle img-fluid")
					h3.card-title.text-danger.p-t-1  FILE SYSTEM
					p.card-text.hidden-xs-down
						|this one is rather the simple one with simple interface that looks just like
						| a simple file system. You get to see folders and directories just like those on a local
						| computer. You can view but cannot edit files because it has some of my code bases.<br>
					p
						a.btn.btn-danger-outline.btn-sm(href="https://www.mycodebase.herokuapp.com" target="__blank") View Site
					a.btn.btn-danger.btn-sm(href="https://github.com/DannyMcwaves/codebase.git" target="__blank") My Github

				div.card.text-xs-center
					img(src="../images/new/serve.png" class="card-img-top img-circle img-fluid")
					h3.card-title.text-primary.p-t-1  SERVER UI.
					p.card-text.hidden-xs-down
						|This is just a simple P2P server that lets you enter an IP address and a port
						|and then creates a simple generic server that lets users who connect to the port of
						|IP address or domain chat with anyone who is also connected or post for anyone to see.
						|The source code is tweakable as long as one can program in node/Javascript. You can
						|reprogram it to use a separate application.<br>
					a.btn.btn-primary.btn-sm.m-t-1(href="https://github.com/DannyMcwaves" target="__blank") My Github

				div.card.text-xs-center
					img(src="../images/new/download.jpg" class="card-img-top img-circle img-fluid")
					h3.card-title.text-primary.p-t-1  NOTES MODULE
					p.card-text.hidden-xs-down
						| This is just a simple python module that I created that help you to generate a readme.md or
						| readme.txt files from the docs in the module. This includes every doc that a function has or class has
						| in the current file. there are other usefu modules included too.
					a.btn.btn-primary.btn-sm.m-t-1(href="https://github.com/DannyMcwaves/pyHelp.git" target="__blank") notes on github


				div.card.text-xs-center
					img(src="../images/new/port.jpg" class="card-img-top img-circle img-fluid")
					h3.card-title.text-info.p-t-1  PORTOFOLIO
					p.card-text.hidden-xs-down
						| There is a full source code of this site on the github page. And this also includes the backend
						| of the page and all the images. You can clone to see or do anything with it without my
						| permission. But do not for get to mention me in the use.
					a.btn.btn-info.btn-sm.m-t-1(href="https://github.com/DannyMcwaves/portofolio.git" target="__blank") this site on github


	div.container-fluid
		div.row.bg-inverse
			div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
				div.card.card-block.card-danger.text-xs-center
					h3.card-title.bdb-1.p-b-1 MORE
					p.card-text.bdb-1.p-b-1.text-white
						| I know you are impressed by my creations so far, but if by any chance, you think this is too commonplace and
						| that I need this kickass projects to make an internship deal, please check my github account for more projects.
					a.btn.btn-danger.btn-sm(href="https://github.com/DannyMcwaves" target="__blank") My Github
