extends layout

block content

    div.bg-img.p-a-3
        div.container

            div.row.bg-fad.card.text-white.text-xs-center

                div.col-sm-4.bg-fad.p-t-1.p-b-1.col-md-3
                    img(src="../images/social/wirecnt.jpeg"  class="img-fluid img-thumbnail")

                div.col-sm-8.p-t-1.p-b-1.col-md-9.bg-fad.col-lg-9
                    h4.bdb-1.p-b-1 VISION
                    article.text.bdb-1.p-b-1
                        | Even though my dreams do not begin with an apple falling from a tree, I still have them anyway,
                        | especially from premature abstractions and daily problems I face in this little subcontinent of mine.
                        | I do not want to rule or change the world but I definitely would like to add some more betterment to it.
                        | I always want to get better than I am now. so when someone asks where I see myself in the future, I wouldn't
                        | know but I know that I will definitely be better than I am now where ever I find myself.<br>
                        | For some reason I think this is possible through constant practice, large singular but collaborative and
                        | innovative efforts. Hence the main reason why I would love to join any community that has this nature of
                        | constant learning and lot of innovative work that can challenge anyone and at the same time make them have
                        | a great experience doing it. <br>
                        | Thank you so much for reading this far, I really appreciate it, I truly hope this portofolio gets the best consideration it
                        | deserves. Hoping to get better than myself.
